<% layout('../layouts/admin') -%>
<div class="row ">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item"><a href="/users">Doctors</a></li>
                    <li class="breadcrumb-item active">View</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Doctor details</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Fullname: </label> <%= user.fullName || 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Email: </label> <%= user.email || 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Date of birth: </label> <%= user.dob || 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Experience: </label> <%= user.experience || 'N/A' %> <%= ' Year'%>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Specialty: </label> <%= user.specality ? user.specality.specialityName : 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Reg. no.: </label> <%= user.regNumber || 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Contact: </label> <%= user.phone || 'N/A' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>City: </label> <%= user.city || 'N/A' %>
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Audio session rate: </label> <%= user.audioSessionRate || 'N/A' %>
                        </div>
                    </div>   
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Video session rate: </label> <%= user.videoSessionRate || 'N/A' %>
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Status: </label> <%- user.isSuspended ? '<span class="badge label-table badge-secondary">In-active</span>' : '<span class="badge label-table badge-success">Active</span>' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Created at: </label> <%- showDate(user.created) %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>About: </label> <%= user.about || '' %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Description: </label> <%= user.service || '' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.userManager').addClass('active');
    });
</script>
